body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(5, 1fr); /* Creates 4 equal columns */
  gap: 15px; /* Space between grid items */
}

.player-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 350px;
  transition: box-shadow 0.3s ease;
}

.player-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player-card img {
  width: 100%; 
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
}

.player-card:hover img {
  opacity: 0.3;
}

.player-name {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  z-index: 5;
}

/* .player-card:hover .player-name {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
} */

.player-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; 
  padding: 10px;
  overflow: hidden;
  transition: all 0.3s ease; 
  z-index: 1; 
  max-height: 60px;
  margin: 0px;
  border-radius: 8px;
  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.player-card:hover .player-description {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  -webkit-mask-image: none;
  mask-image: none;
}

@media screen and (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablet and below */
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
      grid-template-columns: 1fr; /* 1 column for mobile phones */
  }
}
